<h2 style="text-align: center">Add To Market Place</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input [maxLength]="10" matInput formControlName="title" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Year</mat-label>
    <input [maxLength]="4" matInput formControlName="year" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Chip</mat-label>
    <input [maxLength]="10" matInput formControlName="chip" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Memory</mat-label>
    <input [maxLength]="10" matInput formControlName="memory" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Display</mat-label>
    <input [maxLength]="10" matInput formControlName="display" required>
  </mat-form-field>
  <div class="btnAdd">
    <button mat-raised-button style="margin-right: 5px" type="submit"

    >
      {{ isNew ? 'Add' : 'Update'}}
    </button>
    <button mat-raised-button (click)="onCloseClick()" type="button">Cancel
    </button>
  </div>
</form>
