<div class="container_content mat-elevation-z4">
  <div class="content">
    <div class="border_content">
      <h1 style="margin: 0px 0px 26px 20px;"><strong> BASKET</strong></h1>
      <mat-card class="example-card" *ngFor="let item of basket">
        <img mat-card-image src="{{item.image}}" alt="ERROR">
        <mat-card-content>
          <br>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <p> Year: {{ item.year }}</p>
          <p>Price: {{ item.totalPrice| currency }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btnQuantity" mat-raised-button color="primary"
                  (click)="minusItem(item)">-
          </button>
          <span class="quantity">{{ item.quantity }}</span>
          <button class="btnQuantity" mat-raised-button color="primary"
                  (click)="plusItem(item)">+
          </button>
        </mat-card-actions>
      </mat-card>
      <div class="basket_empty">
        <mat-card class="example-card" *ngIf="emptyBasket">
          <div class="basket-empty__wrap">
            <h1> Your basket is still empty</h1>
            <p>Go to the main page to select items or search for what you need</p>
            <button mat-raised-button color="primary" routerLink=" ">
              Main Menu
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="mini__content">
    <div class="border_content">
      <mat-card class="mini__example-card">
        <mat-card-content>
          <p>Quantity: {{ allTotalQuantity }}</p>
          <p>Price: {{ allTotalPrice|currency }}</p>
        </mat-card-content>
        <mat-card-actions style="margin-top: 10px">
          <button mat-raised-button color="primary">Order</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
