.container_content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px);
  margin: 16px;
  border-radius: 10px;
}

.content {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.mat-drawer-container {
  background-color: #ffffff;
}

.mat-mdc-card {
  box-shadow: none;
}

.mat-mdc-card-content {
  display: block;
  padding: 0 16px;
  margin-bottom: 30px;
}

.example-card {
  display: flex;
  width: 1095px;
  height: 650px;
  justify-content: space-between;
  flex-direction: row;
}

.header-info {
  display: flex;
  justify-content: space-between;
}

.content-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.linear {
  grid-area: separate;
  height: 1px;
  background-color: #808080;
  margin: 0.3rem 0 1.5rem 0;
}

.mat-mdc-card-xl-image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}


.product-info {
  display: grid;
  grid-gap: 10px;
  margin-right: 400px;

}

.info-item {
  display: flex;
}

.info-label {
  color: #808080;
}

.info-value {
  margin-left: 5px;
}

.mini__content {
  height: 200px;
  width: 230px;
  box-sizing: border-box;
}


.mini__example-card {
  border-radius: 12px;
  border: 1px solid #808080;
  display: flex;
  flex-wrap: wrap;
  box-shadow: none;
}

.mini-container-value {
  font-size: 1.6rem;
  margin-right: 0.3rem;
  font-weight: 500;
}

.header-infor {
  font-weight: 500;
  font-size: 21px;
}
