<mat-sidenav-container hasBackdrop>
  <mat-sidenav-content>
    <div class="container_content mat-elevation-z4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <div class="group-info">
              <div class="header-information">
                <mat-card-title>{{ product.title }}</mat-card-title>
              </div>
              <div class="linear"></div>
              <div class="header-info">
                <img mat-card-xl-image src=" {{product.image}}" alt="ERROR">
                <div class="product-info">
                  <div class="header-information">Characteristics</div>
                  <div class="info-item">
                    <div class="info-label">Year:</div>
                    <div class="info-value">{{ product.year }}</div>
                  </div>
                  <div class="info-item">
                    <div class="info-label">Chip:</div>
                    <div class="info-value">{{ product.configure.chip }}</div>
                  </div>
                  <div class="info-item">
                    <div class="info-label">Video Card:</div>
                    <div class="info-value">{{ product.configure.videoCard }}</div>
                  </div>
                  <div class="info-item">
                    <div class="info-label">Memory:</div>
                    <div class="info-value">{{ product.configure.memory }}</div>
                  </div>
                  <div class="info-item">
                    <div class="info-label">Memory RAM:</div>
                    <div class="info-value">{{ product.configure.memoryRam }}</div>
                  </div>
                  <div class="info-item">
                    <div class="info-label">OC:</div>
                    <div class="info-value">{{ product.configure.oc }}</div>
                  </div>
                  <div class="info-item">
                    <div class="info-label">Display:</div>
                    <div class="info-value">{{ product.configure.display }}</div>
                  </div>
                </div>

                <div class="mini__content">
                  <mat-card class="mini__example-card">
                    <mat-card-content>
                      <div class="info-item">
                        <div class="mini-container-value">
                          <div class="info-label">Price:</div>
                          <div class="info-value">{{ product.price | currency }}</div>
                        </div>
                      </div>
                    </mat-card-content>
                    <mat-card-actions style="margin-top: 10px">
                      <button class="info-btn" mat-flat-button color="primary" (click)="addToBasket(product)">
                        <div class="iconFlex">
                          <span class="material-symbols-outlined">shopping_cart</span>
                          Buy Now
                        </div>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>

              </div>
            </div>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

