// Общие стили
.header__container {
  margin: 0 auto;
  display: flex;
  width: 1380px;
}

.toolbar {
  display: flex;
  align-items: center;

  &.no-select {
    user-select: none;
  }

  .button {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.iconBase {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1px;
  margin-right: 12px;

  span {
    font-size: 27px;
  }

  h4 {
    margin: 0;
    font-size: 15px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}
