<mat-toolbar color="primary">
  <div class="header__container">
  <div class="toolbar no-select">
    <button mat-icon-button
            [disabled]="this.router.url !== '/'"
            (click)="ProductService.toggleOpened();">

      <mat-icon *ngIf="!this.ProductService.opened">menu</mat-icon>
      <mat-icon *ngIf="this.ProductService.opened">close</mat-icon>
    </button>
    <span routerLink=" " style="cursor: pointer">Market place</span>
  </div>
  <span class="example-spacer"></span>
  <div class="toolbar no-select" *ngIf="isSignInPage()">
    <button style="margin-right: 5px" mat-raised-button routerLink="basket"
            [disabled]="this.ProductService.opened">Basket
    </button>
    <button mat-raised-button routerLink="sign-in"
            [disabled]="this.ProductService.opened">Sign-In
    </button>
  </div>
  </div>
</mat-toolbar>
