.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  display: flex;
  align-items: center;

  &.button {
    margin-left: 5px;

    &:first-child {
      margin-left: 0
    }
  }
}

.example-full-width {
  width: 100%;
}

mat-toolbar-row {
  padding: 0;
}

.header__container {
  margin: 0 auto;
  display: flex;
  width: 1600px;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: column;
}

//search
.example-full-width-search {
  width: 800px;
}

.example-form {
  display: flex;
  justify-content: center;
  align-items: center
}

.example-form mat-icon {
  position: absolute;
  top: 15px;
  right: 10px;
}
